.modal {
    border:0;
    height:200px;
    position: absolute;
    right:20px;
    top:20px;
    width:200px;
    z-index:1000000;
}​
#frame iframe{
  display: none;
  position: fixed;
  top: 10%; left: 10%;
  width: 100%;
  height: 100%;
  z-index: 999;
  border: 10px solid rgba(0,0,0,.5);
  margin: -5px 0 0 -5px;
}

/*original frame_veil not centered */
#frame_veil{
  display: none;
  position: absolute;
  width: 90%;
  height: 90%;
  margin-right: 0%;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,.95);
  cursor: pointer;
  z-index: 900;
}
#frame_veil p{
  color: black;
  font: normal normal bold 20px/20px Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: -10px auto 0 -5em;
  text-align: center;
}
#view_port{
  height: 100%;
  width: 100%;
}
